<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Gold Visibility Color Creator</title>

    <link id="favicon" rel="icon" type="image/x-icon"/>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css"
          integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet"
          integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">

    <style>[v-cloak] { display: none; }</style>
</head>
<body>

<div id="app" class="container" v-cloak>
    <div class="row justify-content-center">
        <div class="col-md-8">
            <br/>
            <h2>Gold Visibility Color Creator</h2>
            <br/>
            <error-box v-for="(errorMsg, index) in errors" :key="index" :error-msg="errorMsg" @close="popError(index)"></error-box>
            <color-input-group v-model="input" :disabled="disabled"></color-input-group>
            <button class="btn btn-block btn-primary" @click="createJob" :disabled="disabled">
                <span v-show="showSpinner" class="fa fa-refresh fa-spin" style="margin-right: 5px"></span>
                {{actionText}}
            </button>
            <div v-show="showDownloadLink">
                <br/>
                <a href="#" ref="downloadLink" @click="edgeDownloadFix">Download failed? Try again.</a>
            </div>
            <br/>
            <h4>Usage</h4>
            <ol>
                <li>Download and install the Gold Visibility Mod from
                    <a href="https://wgmods.net/1233" target="_blank" rel="noopener">WG Mods</a> or the
                    <a href="http://forum.worldoftanks.eu/index.php?/topic/669824-1010-gold-ammo-visibility-mod-204/"
                       target="_blank" rel="noopener">European forum</a>. Any color will work.
                </li>
                <li>Select a color in the color picker above.</li>
                <li>Optional: You can also upload an image which will replace the smoke effects.
                    The effect will have the color selected above.
                    For the best results the background of the image should be transparent.
                    The recommended image format is PNG as it allows for transparency.
                    Check out <a href="https://www.flaticon.com/" target="_blank" rel="noopener">Flaticon.com</a>
                    for a huge selection of free shapes and icons.
                </li>
                <li>Click on "Create" and wait for the process to finish. <strong>This can take up to a minute!</strong>
                </li>
                <li>Save the generated .zip file to your computer and unzip it.</li>
                <li>Copy the .wotmod file into your WoT /mods/&lt;current version&gt; folder.</li>
            </ol>
            <h4>Troubleshooting</h4>
            <ul>
                <li>Make sure to use a modern browser like Chrome or Firefox.</li>
                <li>Click the link below the "Create" button should the automatic download not work.</li>
            </ul>
        </div>
    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/vue@2.5.16/dist/vue.min.js"></script>
<script src="lib/vue-color.min.js"></script>

<script src="components/color-picker.component.js"></script>
<script src="components/color-input.component.js"></script>
<script src="components/color-input-group.component.js"></script>
<script src="components/error-box.component.js"></script>

<script src="app.js"></script>
</body>
</html>